<app-header></app-header>
<div class="container" style="padding-top: 70px;">

    <div class="pagetitle">
        <h1>Monthly Expense</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item active">Monthly</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row">
        <div class="col-lg-3">
            <select #teams  class="form-select" aria-label="Default select example" (change)="onSelected(teams.value)">
                <option selected="">Select Month</option>
                <option value="01">January</option>
                <option value="02">Febuary</option>
                <option value="03">March</option>
                <option value="04">April</option>
                <option value="05">May</option>
                <option value="06">June</option>
                <option value="07">July</option>
                <option value="08">August</option>
                <option value="09">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col">
        </div>
        <div class="col-md-3" style="float: right;">
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-search"></i></span>
                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Search Expense Name"
                    aria-describedby="inputGroupPrepend2" required="">
            </div>
        </div>
    </div>


    <br>

    <section class="section">
        <div class="row"  id="myDIV">
            <div class="col-lg-12">

                <div class="card" *ngFor="let exp of expense">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">{{ exp.expensename }}</h5>
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title" style="float: right;"><i class="fa fa-inr"></i> {{ exp.amount }}</h5>
                                        </div>
                                    </div>
                                    <p class="card-text">Category : <a href="">{{ exp.expensecategory }}</a> | Payment : <a href="">{{exp.paymenttype}}</a> | Date : <a href="">{{ exp.expensedate | date:"mediumDate" }}</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

</div><!-- End #main -->