<app-header></app-header>
<div class="container" style="padding-top: 70px;">

    <div class="pagetitle">
        <h1>Category Expense</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
                <li class="breadcrumb-item">Expense</li>
                <li class="breadcrumb-item active">Category</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


        <div class="col-lg-3" style="float: right;">
            <div class="input-group">
                <span class="input-group-text" id="inputGroupPrepend2"><i class="bi bi-search"></i></span>
                <input type="text" id="searchexpense" class="form-control" placeholder="Search Expense Name"
                    aria-describedby="inputGroupPrepend2" required="">
            </div>
        </div>
    <br>

    <br>

    <section class="section" id="expense">
        <div class="row"  id="myDIV">
            <div class="col-lg-12">

                <div class="card" *ngFor="let exp of expense">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="card-title">{{ exp.expensecategory }}</h5>
                                        </div>
                                        <div class="col">
                                            <h5 class="card-title" style="float: right;"><i class="fa fa-inr"></i> {{ exp.amount }}</h5>
                                        </div>
                                    </div>
                                    <p class="card-text"> Payment : <a href="">{{exp.paymenttype}}</a> | Date : <a href="">{{ exp.expensedate | date:"mediumDate" }}</a></p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

</div><!-- End #main -->